.title {
  text-align: center;
  margin-bottom: 20px;
  color: #08e008;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.products {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.products img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005580;
}

.custom-navbar {
  background-color: brown;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.brand {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.nav-toggle {
  display: none;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
  position: relative;
}

.dropdown-label {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style: none;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.dropdown-item {
  padding: 0.5rem;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.signin-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

.signin-button:hover {
  background-color: #0056b3;
}
/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.login-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 25%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
  display: block;
}

.btn {
  padding: 10px 0;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}

.btn-success {
  background-color: #28a745;
  color: white;
  border: none;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
}

p {
  font-size: 0.9rem;
  margin-top: 10px;
  font-size: 18px;
}



p {
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}