*{
  color:white
}
.navbar-nav a{
  font-size: 18px;
}

.buttons{
  display: flex;
  justify-content: space-between;
}
.buttons a{
  margin: 2px;
}
.buttons a:hover{
  background-color: greenyellow;
  transition: 0.5s ease-in;
}