.app{
box-sizing: border-box;
margin: 0;

}
.title{
  text-align: center;
}
.p {
  height: 10px;
  width: 30px;
  font-size: 30px;
}
.products {
  
  border: 1px solid #ccc;
  border-radius: 20px;
  justify-content: left;
  
  margin: 10px;
  width: 800px;
  margin-left: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
align-items: center;
padding: 20px;
padding-left: 100px;

}
.products h4:first-child {
  margin-top: 10px;
  color: #333;
}

.products p {
  color: #666;
  margin: 5px 0;
}


.products h4:nth-child(3) {
  color: #00aaff;
  margin: 5px 0;
}


.products h4:nth-child(4) {
  color: #009900;
  margin: 5px 0;
}


.products h4:nth-child(5),
.products h4:nth-child(6) {
  color: #888;
  margin: 5px 0;
  font-size: 14px;
}


.products img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#signin{
  background-color: #333;
  color: #ccc;
  float: right;
  justify-content: right;
  border-radius: 20px;
}

#signin:hover{
  background-color: #009900;
  transition: 0.6s ease-in-out;
}
.button{
justify-content: right;
padding: 20px px;
border: none;
}