
.buttons{
    display:flex;
    justify-content: space-between;
    outline: none;
}
.buttons a{
    text-decoration: none;
    margin: 5px;
    color: #fff;
    background-color: green;
   
}
.buttons a:hover{
    
    transition:  background 0.5s ease-in;
}
.links li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.links li a:hover{
    color: green;
}